<div class="footer">
  <h1>Интернет магазин отделки и декора интерьеров <span>GLUTS.RU</span></h1>
  <p>Мы рады приветствовать Вас на сайте компании «Глатс». У нас существует огромный ассортимент продукции для насыщения интерьера 
      и выгодные условия для заказчиков, архитекторов и дизайнеров. Мы можем предложить Вашему вниманию все необходимое для создания 
      изысканного, уникального интерьера: обои, текстиль, аксессуары, ковры, мебель и светильники и многие другие предметы интерьера. У нас 
      Вы найдете эксклюзивные обои известных европейских и американских брендов: шелковые обои от Paul Mongomery, изысканные бумажные обои от Sanderson , Zoffany и Morris &Co, английские обои ручной работы от Fromental , высококачественные обои необычного дизайна PierreFrey , 
      инновационные обои Marburg.</p>
  <p>В богатой текстильной палитре известных мировых брендов соседствуют бархат и шелк, вельвет и жаккард. Использование тканей известных 
      английских, немецких, французских, итальянских производителей, с которыми мы сотрудничаем, позволят со вкусом декорировать любые 
      помещения. Предлагаемый ассортимент ковров из натурального волокна также разнообразен, приятной цветовой гаммы. Ковры выполнены
      вручную из новозеландской и тибетской шерсти, льна и шелка.</p>
  <p>Роскошная мебель английских, немецких и итальянских марок, которую мы рады представить, никого не оставит равнодушным, а цены на 
      представленные товары Вас непременно порадуют. На сайте Вы найдете модели светильников английской компании Tindle Lighting различных стилей для потолка, настенные и настольные, подвесные и напольные.</p>
  <p>Мы рады предложить Вам свободу творчества, использовать в интерьере не то, что есть, а то, что необходимо для реализации идеи. 
      Обратившись к нам, вы обретете верных помощников для создания интерьера вашей мечты.</p>
</div>
<div class="footer_bottom">
    <p>Все права защищены Gluts 2016</p>
  </div>