.footer
   width: 1200px
   margin: 0 auto
   h1
      padding-top: 50px
      font-size: 24px
      color: #9054b2
      text-align: center
   span
      color: #807e80
   p
      padding-top: 20px
      font-weight: 550
      font-size: 16px
.footer_bottom
   height: 30px
   background: #2c2c2c
   p
      font-weight: 600
      font-size: 12px
      text-align: center
      line-height: 30px
      color: #a7a7a7