.goods
   display: flex
   justify-content: space-between
   flex-wrap: wrap
.good
   width: 33%
   margin-bottom: 50px
   
   h1
      font-size: 20px
      font-weight: 400
      margin-top: 20px
   p
      font-size: 16px
   a
      text-decoration: none
      padding: 10px 20px
      background-color: #9054b2
      color: #fff
      display: inline-block
      margin-top: 10px
      transition: .3s linear
      &:hover
         background: #6a3489